.feed {
  flex: 0.47 1;
  margin-left: auto;
  width: 50%;
}

.feed::-webkit-scrollbar {
  display: none;
}
.headerimage {
  width: -moz-available;
  border-radius: 10px;
}
.feed_header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  font-size: 20px;
  font-weight: bold;
  padding: 10px 16px;
}

@media screen and (max-width: 1000px) {
  .feed {
    flex: 0.7;
  }
}
@media screen and (max-width: 768px) {
  .feed {
    flex: 0.8 1;
    padding-right: 15px;
  }
}
