.signin-container {
 align-items: center;
  background: url("https://th.bing.com/th/id/OIG3.8P9ivjVopzE72xJeuhII?pid=ImgGn");
    background-repeat: repeat;
    background-size: auto;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-wrapper {
  width: 60%;
  border: none;
  max-height: fit-content;
  padding: 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  background-color: black;
  border-radius: 10px;
  color: white;
  height: 85%;
}
.logo {
  width: fit-content;
  margin: 0 auto;
}
.logo button {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  background-color: transparent;
  border: none;
  color: white;
}
.signin-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.head p {
 color: #fff;
  font-size: 20px;
  font-weight: 600;
  width: fit-content;
  font-family: helvetica;
}
.ext-auth {
  margin: auto;
}
.divider {
  width: 70%;
  margin: auto;
}
.outer-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.outer-form div {
  gap: 1rem;
  margin: auto;
    margin-top: auto;
    margin-bottom: auto;
  width: 70%;
  margin-top: -25px;
  margin-bottom: 10px;
  font-family: helvetica;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.outer-form div input {
  background-color: #000;
  border: 1px solid #242424;
  border-radius: 7px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  height: 50px;
  padding: .5rem 0 .5rem 1rem;
}
.outer-form div button {
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  height: 60px;
  padding: 1rem 0;
  background-color: white;
  cursor: pointer;
}
.outer-form div p span {
  color: #1d9bf0;
}
@media screen and (max-width: 768px) {
  .inner-wrapper {
    height: 100vh;
    width: 100%;
    padding: 0px;
    align-content: center;
    justify-content: center;
  }
}
